.manage-container {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.inventory-list {
  width: 30%;
}

.left-panel {
  width: 30%;
}

.right-panel {
  width: 40%;
}

@media (max-width: 768px) {
.manage-container {
flex-direction: column;
}

.inventory-list, 
.left-panel, 
.right-panel {
    width: 100%;
  }
}