.manage-container {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.inventory-list {
  width: 30%;

}

.left-panel {
  width: 30%;

}

.right-panel {
  width: 40%;
  flex-direction: column;
  font-size: 10px;
}
@media (max-width: 768px) {
.manage-container {
flex-direction: column;
}

.inventory-list, 
.left-panel, 
.right-panel {
    width: 100%;
  }

.middle-panel {
  flex-direction: column;
  font-size: smaller;
  padding: 15px;
}
.ion-content {
  background-size: cover;
  background-repeat: no-repeat;
}

.ion-app {
  --background: #ffffff;
  --background-image:var(--background-image;)
}

.ion-card {
  --background: #ffffff;
  --color: #000000;
  --border: #000000;
  --border-radius: 2em;
  --border-width: 2em;
  --padding: 30px; 
}

.ion-card-title {
  --color: #000000;
  --font-style: bold, underline;
}

.ion-card-header {
  --color: #000000;
  --font-style: Bold;

}

.ion-card-subtitle {
  --font-color: #000000;
  text-decoration-line: underline;
}
.ion-card-content {
  --color: #000000;
  --padding: 15px;
  
}

.h3 {
  font-size: large;
  text-decoration-line: underline;
}

.ion-label {
  --color: #000000;
  --border: 3em;
  --border-color: #000000;
}

.ion-item {
  --background: lab(42.41% -8.85 32.74);
  --color: #000000;
  --border: #000000;
  --border-radius: 1em;
  --border-width: 2px;
  --padding: 15px;
}


}