

//They are set using the @property at-rule or by custom property syntax (e.g., --primary-color: blue;). Custom properties are accessed using the CSS var() function (e.g., color: var(--primary-color);).//
//CSS values define what types of value are valid for each CSS property. For example, you can specify colors for the values of color or border-color, but not lengths or percentages.//

//Creating a theme

