
/* <!-- 
  PROG 2005 - Programming Mobile Systems
  Assessment 3
  Group: Lydia pawlus
  File: src/app/pages/privacy/privacy.page.scss
  Purpose: Displays the privacy and security information of the app
--> */

//These are the structural and visual parameters that created the Privacy Page UI
.inv-header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

ion-app {
  --background: #ffffff;

}

ion-card {
  --background: #ffffff;
  --color: #000000;
  --border: #000000;
  --border-radius: 1em;
  --border-width: 2em;
  --padding: 16em; 
}

ion-card-title {
  --color: #000000;
  --font-style: bold, underline;
}

ion-card-header {
  --color: #000000;
  text-decoration-line: underline;
  font-style: Bold;
  font-weight: 2px;
}

ion-card-subtitle {
  --font-color: #000000;
  text-decoration-line: underline;
}
ion-card-content {
  --color: #000000;
  --padding: 3px;
  
}

h3 {
  --color: #000000;
  text-decoration-line: underline;
}

ion-label {
  --color: #000000;
  --border: 3em;
  --border-color: #000000;
}

ion-item {
  --background: lab(98.17% -0.69 1.9);
  --color: #000000;
  --border: #000000;
  --border-radius: 1em;
  --border-width: 2px;
  --padding: 10px;
}

