
/* <!-- 
  PROG 2005 - Programming Mobile Systems
  Assessment 3
  Group: Lydia pawlus
  File: src/app/pages/privacy/privacy.page.scss
  Purpose: Displays the privacy and security information of the app
--> */




privacy_content {
  padding: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 8rem;
  padding-left: 16px;
}